.cards-section {
    height: 85%;
    width: 95%;
    z-index: 1;
    position: absolute;
    background: #CCA9DD;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 45px;
}