.types {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: auto; 
    flex-flow: row wrap;
}

.type {
    border-style: solid none;
    border-width: 1px;
    border-radius: 30px;
    padding: 0.50em;
    font-size: 9pt;
    color: #F8F8F8;
    text-shadow: 0px 1px 1px #807870;
    width: 70px;
    text-align: center;
}

.type.normal {
    background: var(--normal);
    border-top-color: #D8D8D0;
    border-bottom-color: var(--dark);
}

.type.fighting {
    background: var(--fighting);
    border-top-color: var(--fire);
    border-bottom-color: #484038;
}

.type.flying {
    background: var(--flying);
    border-top-color: #C8C0F8;
    border-bottom-color: var(--ghost);
}

.type.poison {
    background: var(--poison);
    border-top-color: #D880B8;
    border-bottom-color: #483850;
}

.type.ground {
    background: var(--ground);
    border-top-color: #F8F878;
    border-bottom-color: #886830;
}

.type.rock {
    background: var(--rock);
    border-top-color: var(--ground);
    border-bottom-color: #886830;
}

.type.bug {
    background: var(--bug);
    border-top-color: #D8E030;
    border-bottom-color: var(--bug);
}

.type.ghost {
    background: var(--ghost);
    border-top-color: var(--flying);
    border-bottom-color: #483850;
}

.type.steel {
    background: var(--steel);
    border-top-color: #D8D8C0;
    border-bottom-color: #807870;
}

.type.fire {
    background: var(--fire);
    border-top-color: var(--electric);
    border-bottom-color: var(--fighting);
}

.type.water {
    background: var(--water);
    border-top-color: var(--ice);
    border-bottom-color: #807870;
}

.type.grass {
    background: var(--grass);
    border-top-color: #C0F860;
    border-bottom-color: #588040;
}

.type.electric {
    background: var(--electric);
    border-top-color: #F8F878;
    border-bottom-color: var(--rock);
}

.type.psychic {
    background: var(--psychic);
    border-top-color: #F8C0B0;
    border-bottom-color: #789010;
}

.type.ice {
    background: var(--ice);
    border-top-color: #D0F8E8;
    border-bottom-color: #9090A0;
}

.type.dragon {
    background: var(--dragon);
    border-top-color: #B8A0F8;
    border-bottom-color: #483890;
}

.type.dark {
    background: var(--dark);
    border-top-color: var(--normal);
    border-bottom-color: #484038;
}

.type.fairy {
    background: var(--fairy);
    border-top-color: #F5CAD1;
    border-bottom-color: #905F63;
}